<template name="footerbox">
  <div class="footer-boxes">
      <div class="row">

            <!-- FOOTER BOX - START -->
          <div class="col-md-4 hidden-xs hidden-sm">
              <div class="box">
                  <h4>About Us</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam auctor dictum nibh, ac gravida orci porttitor et. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac.</p>
                </div>
          </div>
            <!-- FOOTER BOX - END -->

            <!-- FOOTER BOX - START -->
            <div class="col-sm-6 col-md-4">
              <div class="box footer-tags">
        <h4>Tags</h4>
                    <a href=""><span class="text-10">Clean</span></a>
                    <a href=""><span class="text-20">CV</span></a>
                    <a href=""><span class="text-20">Flat</span></a>
                    <a href=""><span class="text-14">Freelance</span></a>
                    <a href=""><span class="text-20">Modern</span></a>
                    <a href=""><span class="text-12">One Page</span></a>
                    <a href=""><span class="text-14">Professional</span></a>
                    <a href=""><span class="text-14">Responsive</span></a>
                    <a href=""><span class="text-16">Resume</span></a>
                    <a href=""><span class="text-20">Business</span></a>
                    <a href=""><span class="text-16">Corporate</span></a>
                    <a href=""><span class="text-18">CSS3</span></a>
                    <a href=""><span class="text-12">HTML5</span></a>
                    <a href=""><span class="text-16">Mobile First</span></a>
                    <a href=""><span class="text-20">Multipurpose</span></a>
                    <a href=""><span class="text-14">Portfolio</span></a>
      </div>
          </div>
            <!-- FOOTER BOX - END -->

            <!-- FOOTER BOX - START -->
            <div class="col-sm-6 col-md-4 hidden-xs">
              <div class="box footer-posts">
                    <h4>Recent Posts</h4>
                    <ul class="list-unstyled">
                        <li><a href="#">Pellentesque habitant morbi</a> <span class="post-date">6.2.2015</span></li>
                        <li><a href="#">Tristique senectus et netus</a> <span class="post-date">31.1.2015</span></li>
                        <li><a href="#">Et malesuada fames ac</a> <span class="post-date">9.12.2014</span></li>
                        <li><a href="#">Turpis egestas nullam</a> <span class="post-date">1.12.2014</span></li>
                        <li><a href="#">Posuere magna a dapibus luctus</a> <span class="post-date">25.11.2014</span></li>
                    </ul>
                </div>
          </div>
            <!-- FOOTER BOX - END -->

        </div>
    </div>
</template>
