<template name="footer">
  <footer class="navbar navbar-default">
      <div class="row">
          <div class="col-md-6 hidden-xs hidden-sm">
              <ul class="nav navbar-nav">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="team.html">Admin team</a></li>
                    <li><a href="profile.html">Profile</a></li>
                    <li><a href="tournament.html">Tournament</a></li>
                    <li><a href="gallery.html">Gallery</a></li>
                    <li><a href="forum.html">Forum</a></li>
                </ul>
            </div>
            <div class="col-md-6">
              <p class="copyright">© X Company 2015 All right reserved. Designed by <a href="http://pixelized.cz/" target="_blank">Pixelized Studio.</a></p>
            </div>
        </div>
    </footer>
</template>
