<template name="leftsidebar">
  <!-- SIDEBAR - START -->
  <div class="col-sm-4">

        <!-- SIDEBAR BOX - START -->
        <div class="box sidebar-box widget-wrapper">
          <h3>NFL</h3>
            <div class="tournament">
              <a href="tournament.html"><img src="http://placehold.it/350x150" class="img-responsive" alt=""></a>
                <h4>SPORTS INSIGHTS <a href="/" class="btn btn-primary pull-right btn-sm">Subscribe</a></h4>
                <p>Some extensive tabular data</p>
                <table class="table table-bordered table-hover table-responsive match-wrapper">
                  <thead>
                    <tr>
                      <th>Time</th><th>Terr.</th><th>Smth</th><th>Smth</th><th>Smth</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>10/4 9:30</td>
                      <td><span class="team-score lose">NYJ</span> <span class="team-score win">MIA</span></td>
                      <td><img src="http://placehold.it./32x32" class="img-responsive img-circle" alt="chart"></td>
                      <td>+0 +0</td>
                      <td>-1.5 +1.5</td>
                    </tr>
                    <tr>
                      <td>10/4 9:30</td>
                      <td><span class="team-score lose">NYJ</span> <span class="team-score win">MIA</span></td>
                      <td><img src="http://placehold.it./32x32" class="img-responsive img-circle" alt="chart"></td>
                      <td>+0 +0</td>
                      <td>-1.5 +1.5</td>
                    </tr>
                    <tr>
                      <td>10/4 9:30</td>
                      <td><span class="team-score lose">NYJ</span> <span class="team-score win">MIA</span></td>
                      <td><img src="http://placehold.it./32x32" class="img-responsive img-circle" alt="chart"></td>
                      <td>+0 +0</td>
                      <td>-1.5 +1.5</td>
                    </tr>
                    <tr>
                      <td>10/4 9:30</td>
                      <td><span class="team-score lose">NYJ</span> <span class="team-score win">MIA</span></td>
                      <td><img src="http://placehold.it./32x32" class="img-responsive img-circle" alt="chart"></td>
                      <td>+0 +0</td>
                      <td>-1.5 +1.5</td>
                    </tr>
                    <tr>
                      <td>10/4 9:30</td>
                      <td><span class="team-score lose">NYJ</span> <span class="team-score win">MIA</span></td>
                      <td><img src="http://placehold.it./32x32" class="img-responsive img-circle" alt="chart"></td>
                      <td>+0 +0</td>
                      <td>-1.5 +1.5</td>
                    </tr>
                    <tr>
                      <td>10/4 9:30</td>
                      <td><span class="team-score lose">NYJ</span> <span class="team-score win">MIA</span></td>
                      <td><img src="http://placehold.it./32x32" class="img-responsive img-circle" alt="chart"></td>
                      <td>+0 +0</td>
                      <td>-1.5 +1.5</td>
                    </tr>
                  </tbody>
                </table>
            </div>
        </div>
        <!-- SIDEBAR BOX - END -->



        <div class="box sidebar-box widget-wrapper widget-matches">
          <h3>Upcoming <a href="matches-list.html" class="btn btn-primary pull-right btn-sm">All matches</a></h3>

            <a href="match-single.html">
                <table class="table match-wrapper">
                    <tbody>
                        <tr>
                            <td class="game">
                                <img src="http://placehold.it/32x32" alt="">
                                <span>Dota 2</span>
                            </td>
                            <td class="game-date">
                                <span>5/10/2015 - 19:30</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="team-name"><img src="http://placehold.it/32x32" alt="">Czech Republic</td>
                            <td class="team-score">-</td>
                        </tr>
                        <tr>
                            <td class="team-name"><img src="http://placehold.it/32x32" alt="">Sweden</td>
                            <td class="team-score">-</td>
                        </tr>
                    </tbody>
                </table>
            </a>

            <a href="match-single.html">
                <table class="table match-wrapper">
                    <tbody>
                        <tr>
                            <td class="game">
                                <img src="http://placehold.it/32x32" alt="">
                                <span>CS GO</span>
                            </td>
                            <td class="game-date">
                                <span>22/11/2015 - 22:00</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="team-name"><img src="http://placehold.it/32x32" alt="">Fnatic</td>
                            <td class="team-score">-</td>
                        </tr>
                        <tr>
                            <td class="team-name"><img src="http://placehold.it/32x32" alt="">Ninjas in Pyjamas</td>
                            <td class="team-score">-</td>
                        </tr>
                    </tbody>
                </table>
            </a>
        </div>
        <!-- SIDEBAR BOX - END -->

        <!-- SIDEBAR BOX - START -->
        <div class="box sidebar-box widget-wrapper widget-matches">
            <h3>Latest <a href="matches-list.html" class="btn btn-primary pull-right btn-sm">All matches</a></h3>

            <a href="match-single.html">
                <table class="table match-wrapper">
                    <tbody>
                        <tr>
                            <td class="game">
                                <img src="http://placehold.it/32x32" alt="">
                                <span>LoL</span>
                            </td>
                            <td class="game-date">
                                <span>18/02/2015 - 14:00</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="team-name"><img src="http://placehold.it/32x32" alt=""><b>Ninjas in Pyjamas</b></td>
                            <td class="team-score win">9</td>
                        </tr>
                        <tr>
                            <td class="team-name"><img src="http://placehold.it/32x32" alt="">Natus Vincere</td>
                            <td class="team-score lose">5</td>
                        </tr>
                    </tbody>
                </table>
            </a>

            <a href="match-single.html">
                <table class="table match-wrapper">
                    <tbody>
                        <tr>
                            <td class="game">
                                <img src="http://placehold.it/32x32" alt="">
                                <span>GTA</span>
                            </td>
                            <td class="game-date">
                                <span>8/6/2015 - 12:00</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="team-name"><img src="http://placehold.it/32x32" alt=""><b>Ninjas in Pyjamas</b></td>
                            <td class="team-score win">9</td>
                        </tr>
                        <tr>
                            <td class="team-name"><img src="http://placehold.it/32x32" alt="">Natus Vincere</td>
                            <td class="team-score lose">5</td>
                        </tr>
                    </tbody>
                </table>
            </a>
        </div>
        <!-- SIDEBAR BOX - END -->

        <!-- SIDEBAR BOX - START -->
        <div class="box sidebar-box widget-wrapper">
          <h3>Categories</h3>
            <ul class="nav nav-sidebar">
              <li><a href="#">Tournaments<span>45</span></a></li>
                <li><a href="#">Leagues<span>122</span></a></li>
                <li><a href="#">Counter Strike<span>684</span></a></li>
                <li><a href="#">Dota 2<span>1242</span></a></li>
              </ul>
          </div>
        <div class="box sidebar-box widget-wrapper">
          <h3>Latest Tweets</h3>
            <div id="twitter-wrapper">
            </div>
        </div>
        <!-- SIDEBAR BOX - END -->

    </div>
    <!-- SIDEBAR - END -->
</template>
