<template name="mainbody">

                  <!-- CONTENT BODY - START -->
                  <div class="col-sm-8">

                      <div class="box colored tournament-partner">
                          <div class="row">
                              <div class="col-xs-4"><a href=""><img src="http://placehold.it/208x90" class="img-responsive center-block" alt=""></a></div>
                              <div class="col-xs-4"><a href=""><img src="http://placehold.it/208x90" class="img-responsive center-block" alt=""></a></div>
                              <div class="col-xs-4"><a href=""><img src="http://placehold.it/208x90" class="img-responsive center-block" alt=""></a></div>
                          </div>
                      </div>

                  	<div class="box">
                      	<!-- POST - START -->
                      	<article class="post">
                          <img src="http://placehold.it/800x600" class="img-responsive" alt="">
                          </article>
                          <!-- POST - END -->
                      </div>
                      <div class="box">
                          <!-- POST - START -->
                          <article class="post">
                            <img src="http://placehold.it/800x600" class="img-responsive" alt="">
                            </article>
                            <!-- POST - END -->
                        </div>
                        <div class="box">
                            <!-- POST - START -->
                            <article class="post">
                              <img src="http://placehold.it/800x600" class="img-responsive" alt="">
                              </article>
                              <!-- POST - END -->
                          </div>                        
                  </div>
                  <!-- CONTENT BODY - END -->
</template>
